<div class="container checkout">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-4">
      <h4 class="text-center">Product</h4>
    </div>
    <div class="col-sm-2">
      <h4 class="text-center">Price</h4>
    </div>
    <div class="col-sm-2">
      <h4 class="text-center">Quantity</h4>
    </div>
  </div>
  <div class="cart-product row" ng-repeat = " item in user.data.cart">
    <div class="col-sm-3">
      <img ng-src="{{ item.product.photos[0]}}" alt="">
    </div>
    <div class="col-sm-4">
      <h4 class="product-name">{{::item.product.name }}</h4>
    </div>
    <div class="col-sm-2">
      <p class="text-center">{{::item.product.displayPrice}}</p>
    </div>
    <div class="col-sm-2">
      <select
        class="form-control" name="quantity"
        ng-change="update()"
        ng-options="i as i for i in [1,2,3,4,5]"
        ng-model="item.quantity">
          <option value="item.quantity" >{{item.quantity}}</option>
      </select>
    </div>
  </div>
  <div class="row subtotal_container">
    <div class="col-sm-4 col-sm-offset-7">
      <h4 class="text-center">Subtotal:
        <span class="subtotal_amount">$ {{subTotal}}</span>
      </h4>
    </div>
  </div>
</div>
