<div class="navbar navbar-retail">
    <div class="container">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand page-scroll">Retail</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Togle nav</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse user-menu-nav">
            <li ng-hide="user">
                <a href="/auth/facebook" class="page-scroll">
                    <i class="fa fa-facebook-official"></i>Log In Facebook</a>
            </li>
            <li ng-show="user">
              <a href="#/checkout" class="shopping-cart"> <i class="fa fa-shopping-cart"></i></a>            
            </li>
            <li ng-show="user" class="profile-pic">
                <img ng-src="{{user.picture}}" alt="profile picture">
            </li>
            <li ng-show="user" class="username">
                <a href="#">{{user.profile.username}}</a>
            </li>
        </ul>
    </div>
</div>
